* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
  font-family: sans-serif;
  background-color: #162447;
  scrollbar-color: #162447 #6b8ee7;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #162447;
  position: sticky;
  top: 0;
  z-index: 100;
  height: 70px;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.6);
}

.navbar h1 {
  position: relative;
  font-size: 2rem;
  left: 20px;
}

.navbar h1 a {
  text-decoration: none;
  color: #6b8ee7;
}

.navbar ul {
  position: relative;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  font-size: 1.2rem;
  right: 20px;
}

.navbar ul li {
  border-radius: 24px;
  transition: 0.3s ease all;
}

.navbar ul li:hover {
  background-color: #6b8ee7;
}

.navbar ul li a {
  display: block;
  text-decoration: none;
  color: #6b8ee7;
  padding: 10px 20px;
}

.navbar ul li:hover a {
  color: #162447;
}

.burger {
  margin-right: 15px;
  width: 30px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  display: none;
}

.burger .line {
  height: 5px;
  width: 100%;
  background-color: #6b8ee7;
  transition: 0.3s ease all;
}

.burger.active .line1 {
  transform: rotate(-45deg) translate(-10px, 9px);
}

.burger.active .line2 {
  opacity: 0;
}

.burger.active .line3 {
  transform: rotate(45deg) translate(-8px, -6px);
}

/* .main img {
  width: 100%;
} */

#welcome {
  height: 100vh;
}

#welcome h1,
#welcome h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
}

#welcome h1 {
  font-size: 3rem;
  color: #e43f5a;
}

#welcome h3 {
  font-size: 1.5rem;
  color: #e43f5a;
}

.text {
  text-align: center;
}

#about {
  height: 100vh;
  background-color: #1b1b2f;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#about h1,
#about ul {
  position: relative;
  bottom: 60px;
}

#about h1 {
  font-size: 4rem;
  text-decoration: underline;
  margin: 30px 0;
  color: #e43f5a;
}

#about ul {
  list-style-type: none;
  font-size: 2rem;
}

#about ul li {
  padding: 10px;
}

#about ul li:hover {
  transform: scale(1.05);
}

#about ul li:hover i {
  animation: spin 1s ease;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

a {
  text-decoration: none;
}

#pricing {
  height: 100vh;
  background-color: #e43f5a;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: auto;
  height: auto;
  margin: 0 30px;
  padding: 15px;
  background-color: #162447;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
  color: #fff;
  border-radius: 12px;
  transition: 0.3s ease all;
}

.card:hover {
  box-shadow: 2px 8px 16px 2px rgba(0, 0, 0, 0.6);
  background-color: #6b8ee7;
  transform: scale(1.05);
}

.card-header img {
  width: 100%;
  object-fit: cover;
}

.card-content ul {
  list-style-type: none;
}

.card-content p {
  font-size: 1.2rem;
}

footer {
  margin: 20px;
}

footer p {
  color: #fff;
  text-align: center;
}

@media (min-width: 1000px) {
  .text h1 {
    margin: 10px 0;
  }
}

@media (max-width: 600px) {
  .navbar ul {
    display: block;
    position: absolute;
    background-color: #162447;
    height: calc(100vh - 70px);
    top: 70px;
    left: 0;
    width: 50%;
    z-index: 100;
    transform: translateX(-100%);
    transition: 0.3s ease all;
  }

  .navbar ul.active {
    transform: translateX(0);
  }

  .navbar ul li {
    margin: 20px 0;
  }

  .burger {
    display: flex;
  }

  #pricing {
    display: flex;
    flex-direction: column;
    height: auto;
  }

  .text {
    position: relative;
    top: 50px;
  }

  .card {
    margin: 10px 0;
    width: 300px;
  }
}
